


<div class="container">
    <div class="row">
        <div class="col-8 red">

            <h1>img</h1>
        </div>




        <div class=" col-4 login-panel">
            

            <img src="" width="150"/>


            <div class="form-login">
                <form class=" form-group">

                    <div class="form-group">


                        <input type="text" class="form-control" id="" aria-describedby="login" placeholder="Usuário">

                    </div>
                    <div class="form-group">

                        <input type="password" class="form-control" id="isenhaInput" placeholder="Senha">
                    </div>

                    <div class="form-group row">
                        <div class="">
                            <input type="checkbox" class="custom-control-input" id="CheckLembrar">
                            <label class="custom-control-label" for="CheckLembrar">lembrar</label>


                        </div>
                        <div class="">

                            <label class="" for="">lembrar</label>


                        </div>

                    </div>

                    <div class="btn-acessar">

                        <button type="submit" class="btn btn-primary my-1">Acessar</button>

                    </div>

                </form>
                <span>SDHelp :: v 1.1.0</span>
            </div>  
            



           
        </div>


    </div>
</div>



<style>

    .red {
        background: red;
      
        max-width: 75%;
        position: relative;
        
      /* padrão de corpo  */
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .blue {
        background: blue;
       

        /* padrão de corpo  */
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .login-panel {
        float: right;
        height: 100%;
        background-color: #678bbb;
        padding: 30px 45px;
        font-size: large;
        color: #FFF;
        overflow: hidden;
        border-left: 1px solid #009ccf;
    }

    .form-login {
      
       width: 100%;
       height: 100%;
       justify-content: flex-start;
       align-items:stretch;

    }


</style>