


<div class="container--md">
    <div class="row">
        <div class=" col-md-8   red">

            <img src="https://via.placeholder.com/150x90" class="img-bg"  style=" width: 100%"/>
            


            

        </div>




        <div class="  col-md-4 login-panel">



            
            <img src ="https://via.placeholder.com/150x90" class="img-logo"/>



            <div class="form-login">
                <form class=" form-group">

                    <div class="form-group">


                        <input type="text" class="form-control" id="" aria-describedby="login" placeholder="Usuário">

                    </div>
                    <div class="form-group">

                        <input type="password" class="form-control " id="isenhaInput" placeholder="Senha">
                    </div>

                    <div class="form-group form-row">
                        <div class=" form-check col">
                            <input type="checkbox" class="form-check-input " id="CheckLembrar">
                            <label class="form-check-label" for="CheckLembrar">Lembrar</label>


                        </div>
                        <div class="form-group col">

                            <label class="" for="">Esqueci a senha.</label>


                        </div>

                    </div>

                    <div class="btn-login btn btn-light"  style=" width:100%; height:43px; position:center;">

                        <span class=" btn-text"> ACESSAR</span>

                    </div>

                </form>

            </div>



            <div class="login-footer">
               SDHelp :: v 1.1.0
            </div>
            
        </div>


    </div>
</div>



<style>

    .img-bg
    {
        height:100%;
        max-width:100%;
        display:block;
    }
    .img-logo
    {
        height:auto;
        
        display:block;
        margin: auto;
        padding: 10%;

    }

    .red {
        background: red;
      
       
        
    }

    .blue {
        background: blue;
       

      
    }

    .login-panel {
        /* padrão de corpo  */
        width: 100%;
        height: 100%;

        position:relative;
        float: right;
        background-color: #678bbb;
        padding: 30px 45px;
        font-size: large;
        color: #FFF;
        overflow: hidden;
        border-left: 1px solid #009ccf;

        min-width:25%;
    }

    .form-login {
      
       width: 100%;
       height: 100%;
       justify-content: flex-start;
       align-items:stretch;

    }

    .btn-login
    {
        display:inline-block;
        cursor: pointer;
        text-align:center;
        vertical-align:middle;
        max-width:100%;
    }


    .login-footer
    {
       
        font-size:x-small;
        text-align:center;
        buttom:10px;
        position:absolute;
    }
</style>