<link href="/lib/icones/fontawesome/css/all.min.css" rel="stylesheet">
<link href="/lib/icones/fontawesome/css/v4-shims.min.css" rel="stylesheet">
<link href="/lib/icones/icofont/icofont.min.css" rel="stylesheet">
<link href="/lib/icones/themify-icons/themify-icons.css" rel="stylesheet">
<link href="/lib/icones/material-design-iconic-font/css/material-design-iconic-font.min.css" rel="stylesheet">
<link href="/lib/icones/material-design-iconic-font/css/materialdesignicons.min.css" rel="stylesheet">
<link href="/lib/icones/icofont/icofont.min.css" rel="stylesheet">
<link href="/lib/icones/fontello/css/fontello.css" rel="stylesheet">
<link href="/lib/icones/simple-line/simple-line-icons.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div container-md>
    <div>

       
            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div> 
    </div>
    <div class=" icon-bar">


        <div class="icon-bar item">
            <i class="fa fa-tree" aria-hidden="true"></i>
            <span> Atendimento</span>
        </div>

        <div class="icon-bar item">
            <i class="fa fa-id-card" aria-hidden="true"></i>
            <span>Árvore de Decisões</span>
        </div>
        <div class="icon-bar item">
            <i class="fa fa-search" aria-hidden="true"></i>
            <span> Cad. Básicos</span>
        </div>
        <div class="icon-bar item">
            <i class="fa fa-cogs" aria-hidden="true"></i>
            <span>Consultas</span>
        </div>
        <div class="icon-bar item">

            <i class="fa fa-phone" aria-hidden="true"></i>
            <span>Licençãs</span>
        </div>

        <div class="icon-bar item">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span>Supervisor</span>
        </div>





    </div>

<style>

    .icon-bar {
        width: 90px;
        background-color: #555;
    }




    .item {
        display: block; /* Make the links appear below each other instead of side-by-side */
        text-align: center; /* Center-align text */
        padding: 16px; /* Add some padding */
        transition: all 0.3s ease; /* Add transition for hover effects */
        color: white; /* White text color */
        line-height: 24px;
        margin: 8px;
    }
</style>
